<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
   <div class="header-left">Training</div>
     <div class="header-right">
      <ul>
       <li>投稿する</li>
       <% if user_signed_in? %>
       <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
       <% else %>
       <li><%= link_to 'ログイン', '/users/sign_in' %></li>
       <li><%= link_to '新規登録', '/users/sign_up' %></li>
       <% end %>
      </ul>
     </div>
   </div>
  </div>
<%= yield %>

</body>
</html>
